h1 {
  color: red;
  font-family: "Oswald", fantasy;
  font-weight: bolder;
  font-size: 50px;
}
body {
  background-color: #ffb3ff;
}
i {
  font-size: 60px;
  color: darkred;
}
p {
  font-size: 40px;
  color: red;
  font-weight: bolder;
}
